.cards {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cards > div {
  width: 240px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
