.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.all-cards {
  margin-bottom: 30px;
}

.cards {
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  grid-gap: 30px;
  justify-items: center; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.iphoneModel {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.iphoneImage {
  width: 300px;
}
