.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.all-cards {
  margin: 20px 0;
}

.cards {
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* display: grid;
  grid-gap: 25px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
